<h1>Welcome to TigerSpike</h1>
<h3>Background</h3>
<p>Tigerspike is a digital services company driven to improve people’s lives through technology.
  Focusing on strategy, experience design, software development and systems integration, our work is centered on five key values:</p>
  <ul>
    <li><strong>Transparency</strong></li>
    <li><strong>Resilience</strong></li>
    <li><strong>Problem-solving</strong></li>
    <li><strong>Energy</strong></li>
    <li><strong>Curiosity</strong></li>
  </ul>
<h4>Site Map</h4>
<ul>
  <li><strong>Manage Users</strong>. Go to this page to view users and their locations on the map</li>
  <li><strong>Search Notes</strong>. Search based on UserID and search text for note</li>
</ul>