<div class="user-map-container"><!-- *ngIf-="showMap; else otherMapInfo"> -->
    <div class="user-map-header">
        <strong>View {{ mapData.username }} locations on map</strong>
    </div>
    <div><!-- *ngIf="showMap; else showMapInfo"> -->
        <app-map-control [(mapPoints)]="mapDataPoints" (mapPointDelete)="mapPointDeleteHandler($event)" (mapPointClick)="mapPointClickHandler($event)"></app-map-control>
        <!-- <app-map-control [mapPoints]="mapDataPoints"></app-map-control> -->
    </div>
</div>