<div class="manage-users">
    <div class="show-users" *ngFor="let user of users">
        <div class="user-info">
            <div class="details">
                <strong>{{ user.firstName + ' ' + user.lastName }} location(s)</strong>
            </div>
            <div class="user-map-actions">
                <button mat-raised-button color="primary" class="button" (click)="addLocationHandler(user)">ADD LOCATION</button>
                <button mat-raised-button color="primary" class="button" (click)="showCurrentLocation(user)">SHOW CURRENT LOCATION</button>
                <button mat-raised-button color="primary" class="button" (click)="showUserDetails(user)">SHOW USER LOCATIONS ON MAP</button>
            </div>
        </div>
    </div>
    <div class="user-info" *ngIf="showUserInfo">
        <div class="user-details">
            <div class="details-info">
                
            </div>
        </div>
        <div class="user-locations" *ngIf="userMapData.dataPoints.length > 0; else noRecordsFound">
            <app-map
             [mapData]="userMapData" 
             (mapClick)="mapClickHandler($event)"
             (mapPointDelete)="mapPointDeleteHandler($event)"></app-map>
        </div>        
    </div>
    <div class="add-user-location" *ngIf="showAddLocation">
        <app-add-user-location 
         [selectedUser]="selectedUser"
         (addLocation)="addUserLocationHandler($event)"></app-add-user-location>
    </div>
    <ng-template #noRecordsFound>
        <div class="no-records-found">
            <p><strong>There are no records found</strong></p>
            <p><strong>Please click on "ADD LOCATION" to add one</strong></p>
        </div>
    </ng-template>
</div>