<div class="search-notes">
    <div class="search-panel">
        <form [formGroup]="searchNotesForm" (ngSubmit)="searchUserLocationNotes()" class="form">
            <div class="form-element">
                <div class="form-element">
                    <mat-form-field class="form-element">
                        <mat-label>User Name *</mat-label>
                        <mat-select formControlName="user" [(ngModel)]="selectedUser">
                          <mat-option *ngFor="let option of userOptions" [value]="option.id" >
                            {{ option.firstName + ' ' + option.lastName }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <mat-form-field class="form-element" hintLabel="Max 120 characters">
                    <mat-label>Notes *</mat-label>
                    <input matInput #input placeholder="Please enter note text here" formControlName="notes">
                    <mat-hint align="end">{{ input.value?.length || 0}}/120</mat-hint>
                    <mat-error
                        *ngIf="!searchNotesForm.controls['notes'].valid && searchNotesForm.controls['notes'].touched">
                        Required field, must not be more than 120 characters.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button"
                    [disabled]="!searchNotesForm.valid">
                    SEARCH NOTES
                </button>
            </div>
        </form>
    </div>
    <div class="search-results">
        <table mat-table [dataSource]="userLocationNotesData" class="mat-elevation-z8">

            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.userInfo.firstName }} </td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.userInfo.lastName }} </td>
            </ng-container>
    
            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-raised-button color="primary" class="button" (click)="showMatchingUserLocationNotes(row)">SHOW MATCHING LOCATIONS</button>
                </mat-cell>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>
    </div>
    <div class="matching-map-points" *ngIf="showMatchingMapPoints">
        <app-map
             [mapData]="userMapData" 
             (mapPointDelete)="mapPointDeleteHandler($event)"></app-map>
    </div>
</div>